body {
	background-color: #333;
	margin: 50px;
	box-sizing: border-box;
}


.flexgrid--main.blue {
	background-color: rgb(200, 200, 255);
	//height: 200px;

	.flexgrid--main-column {
		&:first-child {
			.flexgrid--main-column-row {
				background-color: rgb(135, 135, 230);
			}
		}

		&-header {
			background-color: #eee;
		}

		&-headerContent {
			text-align: center;
			padding: 10px;
		}

		&-rowContent {
			padding: 10px;
			text-align: center;
		}

		input {
			margin:0 0 0 5px;
			
		}

	}
}
